/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(./assets/bitcoin-3406638_960_720.jpg);
    background-size: cover;
}
header{
    margin-top: -8px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.527);
    position: sticky;
    top: 0px;
    height: 40px;
}
.brand{
    color: rgb(190, 153, 28);
    font-size: larger;
    font-weight: 1000;
}
footer{
    display: flex;
    justify-content: center;
    background-color: rgba(73, 18, 14, 0.74);
    width: 100%;
    position: fixed;
    bottom: 0%;
    color: rgb(108, 121, 128);
    font-size: small;
    height: 20px;
}

.s1{
    opacity: 0;
}